//font-family: 'Oswald', sans-serif;
//font-family: 'Roboto', sans-serif;

/* nav bar */
.sidebar {
	height: 100%;
	width: 45px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $color_2;
	overflow-x: hidden;
	padding-top: 16px;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: $color_4;
	display: block;
	margin: 50px 0px;
}

.sidebar a:hover {
	color: $color_6;
}

/* Trial */
.trial_container {
	font-family: $font_2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	background: $color_1;
	padding: 80px 0px;
	margin: 0px 40px;
	margin-top: 50px;

	.trial_left {
		letter-spacing: 1px;

		h2 {
			font-family: $font_1;
			font-size: 2.25rem;
		}

		p {
			font-size: 2rem;
			font-weight: 400;
		}
	}

	/* button trial */
	.trial_right {
		button {
			font-family: $font_2;
		}

		.start_button {
			font-size: 1.1rem;
			color: $color_4;
			text-transform: uppercase;
			font-weight: 300;
			background: $color_3;
			border: none;
			padding: 13px 50px;
			border-radius: 5px;
			cursor: pointer;
		}
		.login {
			color: blue;
		}

		.submit_start {
			background: $color_3;
			color: $color_1;
			border: none;
			border-radius: 5px;
			padding: 5px 40px;
			margin-left: 70px;
		}

		.start_button:active {
			transform: scale(0.98);
		}

		/*button contact*/
		.contact_button {
			font-size: 1.1rem;
			margin-left: 10px;
			color: $color_3;
			font-weight: 300;
			text-transform: uppercase;
			background: $color_1;
			border: $color_3 1px solid;
			padding: 11px 60px;
			border-radius: 5px;
			cursor: pointer;
		}

		.contact_button:active {
			transform: scale(0.98);
		}
	}
}

/* Footer */
.container_footer {
	font-family: $font_2;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	background: #15676d80;
	padding: 100px 0px;
	margin-top: 20px;

	.footer_left {
		h2 {
			font-family: $font_1;
			text-transform: uppercase;
			padding-top: 10px;
		}

		p {
			padding: 10px 0px;
			font-weight: 300;
			margin-bottom: 0px;
		}
	}

	.footer_right {
		p {
			margin-left: 30px;
			font-weight: 700;
		}

		ul {
			list-style-type: none;
		}

		li {
			font-weight: 300;
			padding: 8px 0px;
		}

		a:hover {
			color: $color_2;
		}

		a {
			text-decoration: none;
			color: $color_6;
		}
	}
}

@media only screen and (max-width: 945px){
	.trial_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 87vw;
		margin-left: 0vw;
		
		.trial_left{
			p{
			font-size: 1.7rem;
			}

		}

		.trial_right{
			display: flex;
			flex-direction: column;
			align-items: center;

			.contact_button{
				margin-top: 20px;
				margin-right: 5px;
				padding: 11px 62px;
			}
		}

	}
	
	.container_footer{
		.footer_left{
			margin-left: 25px;
		}

		display: flex;
		flex-direction: column;
		align-items: center;


	}


}
