.header {
	min-height: 60vh;
	position: relative;
	&_carousel {
		position: relative;
	}
	&_carousel_item {
		position: absolute;
		height: 60vh;
		min-width: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding: 100px 0 100px 100px;
		transition: all 1s;
		h2 {
			font-size: 2.25em;
			line-height: 53px;
			color: $color_1;
			margin-bottom: 19px;
			font-family: $font_1;
		}
		p:nth-child(3) {
			font-weight: 400;
			font-size: 1.25em;
			line-height: 23px;
			margin-bottom: 85px;
			color: $color_1;
			width: 50%;
		}
		a {
			font-size: 1.25em;
			font-weight: 400;
			line-height: 23px;
			background: $color_3;
			padding: 8px 40px;
			color: $color_4;
			border-radius: 5px;
			cursor: pointer;
			border: 3px $color_3 solid;
			transition: all 0.3s;
			&:hover {
				background: none;
			}
		}
		&_box {
			justify-content: space-between;
			align-items: flex-start;
			width: 21 0px;
			margin-bottom: 39px;
			p {
				font-weight: 400;
				line-height: 19px;
				background: $color_2;
				padding: 4px 8px;
				color: $color_4;
			}
			span {
				color: $color_5;
			}
		}
		&_arrow {
			&_left {
				position: absolute;
				top: calc(50% - 32px);
				left: 15px;
				color: $color_5;
				font-size: 2em;
				cursor: pointer;
			}
			&_right {
				position: absolute;
				top: calc(50% - 32px);
				right: 15px;
				color: $color_5;
				font-size: 2em;
				cursor: pointer;
			}
		}
	}
	@media (max-width: 1200px) {
		&_carousel_item {
			p:nth-child(3) {
				width: 75%;
			}
		}
	}
	@media (max-width: 1000px) {
		min-height: 80vh;
		&_carousel_item {
			min-height: 80vh;
		}
	}
	@media (max-width: 800px) {
		min-height: 80vh;
		&_carousel_item {
			padding: 50px 0 50px 50px;
		}
	}
	@media (max-width: 650px) {
		&_carousel_item {
			p:nth-child(3) {
				width: 85%;
				text-align: justify;
			}
		}
	}
	@media (max-width: 500px) {
		min-height: 100vh;
		&_carousel_item {
			min-height: 100vh;
			h2 {
				font-size: 2.25em;
			}
			p:nth-child(3) {
				font-size: 1em;
			}
			a {
				font-size: 1em;
			}
		}
	}
}
#item_one {
	left: 0;
}
#item_two,
#item_three {
	left: 100%;
}
