.header2 {
	font-family: 'Oswald', sans-serif;
	padding-bottom: 50px;
	color: #001724;
	text-transform: uppercase;
	padding-top: 50px;
	padding-left: 50px;
}

#line {
	color: #001724;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#card {
	width: 279px;
	height: 330px;
	cursor: pointer;
	z-index: 1;
	#bloc_card {
		background-image: url(/assets/img/limitless_card.jpg);
		height: 330px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 20px;
	}

	.card_genre {
		background-color: #15676d;
		color: white;
		font-weight: 400;
		line-height: 19px;
		padding: 4px 8px;
		margin-left: 28px;
		font-size: 16px;
		margin-bottom: 15px;
		width: fit-content;
	}

	span {
		color: #ff7a00;
		padding-left: 28px;
	}

	.card_title {
		font-family: 'Oswald', sans-serif;
		color: #ffebd1;
		font-size: 24px;
		margin-left: 28px;
		margin-top: 10px;
	}

	#bloc_info {
		display: none;
		background-color: #15676d;
		font-size: 16px;
		color: #ffebd1;
		font-weight: 400;
		line-height: 19px;
		padding: 10px 28px;
		height: 330px;
		transform: translateY(-330px);
		p {
			padding: 20px 0px;
		}
		h6 {
			font-weight: 600;
		}
		li {
			list-style-type: disc;
			margin-top: 4px;
		}
	}
}

// ANIMATIONS

#card {
	transition: all 1s ease-in;
}

#card:hover {
	box-shadow: 0px 0px 5px 5px #c4c4c4;
	#bloc_info {
		display: block;
		opacity: 0.9;
	}
}
