.gallery {
	padding-left: 40px;
	padding-right: 40px;
}

.header2 {
	font-family: $font_1;
	padding-bottom: 50px;
	color: $color_6;
	text-transform: uppercase;
	padding-top: 50px;
}

#cards_container {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
}

.card {
	width: 279px;
	height: 330px;
	cursor: pointer;
	.card1 {
		background-image: url(/assets/img/limitless_card.jpg);
		height: 330px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 20px;
		.card_movie_genre {
			background-color: $color_2;
			color: $color_4;
			font-weight: 400;
			line-height: 19px;
			padding: 4px 8px;
			font-size: 16px;
			margin-bottom: 15px;
			width: fit-content;
		}
		.card_movie_stars {
			color: $color_5;
		}
	
		.card_movie_title {
			font-family: $font_1;
			color: $color_1;
			font-size: 24px;
			margin-top: 10px;
		}
	}

	.overlay_card {
		display: none;
		height: 330px;
		background-color: $color_2;
		color: $color_4;
		font-size: 16px;
		font-weight: 300;
		line-height: 19px;
		padding: 20px;
		position: absolute;
		overflow: scroll;
	}
}

// ANIMATIONS

.card {
	transition: all 0.5s ease-in;
}

.card:hover {
	box-shadow: 0px 0px 5px 5px #c4c4c4;
	transform: scale(1.1, 1.1);
	.overlay_card {
		display: block;
		opacity: 0.9;
	}
}

// RESPONSIVE

@media only screen and (max-width : 700px) {
	.gallery {
		width: 350px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width : 400px) {
		.gallery h2 {
			width: 200px;
		}
		.card {
			width: 200px;
		}
}