@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body,
html {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 60vh;
  position: relative;
}
.header_carousel_item {
  min-height: 60vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0 100px 100px;
}
.header_carousel_item h2 {
  font-size: 2.25em;
  line-height: 53px;
  color: #ffebd1;
  margin-bottom: 19px;
  font-family: "Oswald", sans-serif;
}
.header_carousel_item p:nth-child(3) {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 23px;
  margin-bottom: 85px;
  color: #ffebd1;
  width: 50%;
}
.header_carousel_item button {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 23px;
  background: #d46f4d;
  padding: 8px 40px;
  color: #fff;
  border-radius: 5px;
}
.header_carousel_item_box {
  justify-content: space-between;
  width: 240px;
  margin-bottom: 39px;
}
.header_carousel_item_box p {
  font-weight: 400;
  line-height: 19px;
  background: #15676d;
  padding: 4px 8px;
  color: #fff;
}
.header_carousel_item_box span {
  color: #ff7a00;
}
.header_carousel_item_arrow_left {
  position: absolute;
  top: calc(50% - 32px);
  left: 15px;
  color: #ff7a00;
  font-size: 2em;
  cursor: pointer;
}
.header_carousel_item_arrow_right {
  position: absolute;
  top: calc(50% - 32px);
  right: 15px;
  color: #ff7a00;
  font-size: 2em;
  cursor: pointer;
}

#item_two,
#item_three {
  display: none;
}

.header2 {
  font-family: "Oswald", sans-serif;
  padding-bottom: 50px;
  color: #001724;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 50px;
}

#slide_2 {
  color: #001724;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#card1 {
  width: 279px;
}
#card1 #bloc_card1 {
  background-image: url(/assets/img/limitless_card.jpg);
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}
#card1 .card_genre1 {
  background-color: #15676D;
  color: white;
  font-weight: 400;
  line-height: 19px;
  padding: 4px 8px;
  margin-left: 28px;
  font-size: 16px;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#card1 span {
  color: #FF7A00;
  padding-left: 28px;
}
#card1 .card_title1 {
  font-family: Oswald, sans-serif;
  color: #FFEBD1;
  font-size: 24px;
  margin-left: 28px;
  margin-top: 10px;
}
#card1 #bloc_info1 {
  display: none;
  background-color: #c4c4c4;
  font-size: 16px;
  color: #FFEBD1;
  font-weight: 400;
  line-height: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}
#card1 #bloc_info1 p {
  padding: 20px 0px;
}
#card1 #bloc_info1 li {
  list-style-type: circle;
  margin-top: 4px;
  margin-left: 16px;
}

#card1 {
  transition: all 1.2s linear;
}

#card1:hover {
  box-shadow: 0px 0px 10px 3px #353535;
}
#card1:hover #bloc_info1 {
  transform: translateY(-20px);
  display: block;
}/*# sourceMappingURL=index.css.map */