@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

li {
  list-style-type: none;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_content {
  width: calc(100vw - 45px);
  margin-left: 45px;
}

.header {
  min-height: 60vh;
  position: relative;
}

.header_carousel {
  position: relative;
}

.header_carousel_item {
  position: absolute;
  height: 60vh;
  min-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 0 100px 100px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header_carousel_item h2 {
  font-size: 2.25em;
  line-height: 53px;
  color: #ffebd1;
  margin-bottom: 19px;
  font-family: "Oswald", sans-serif;
}

.header_carousel_item p:nth-child(3) {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 23px;
  margin-bottom: 85px;
  color: #ffebd1;
  width: 50%;
}

.header_carousel_item a {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 23px;
  background: #d46f4d;
  padding: 8px 40px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 3px #d46f4d solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_carousel_item a:hover {
  background: none;
}

.header_carousel_item_box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 21 0px;
  margin-bottom: 39px;
}

.header_carousel_item_box p {
  font-weight: 400;
  line-height: 19px;
  background: #15676d;
  padding: 4px 8px;
  color: #fff;
}

.header_carousel_item_box span {
  color: #ff7a00;
}

.header_carousel_item_arrow_left {
  position: absolute;
  top: calc(50% - 32px);
  left: 15px;
  color: #ff7a00;
  font-size: 2em;
  cursor: pointer;
}

.header_carousel_item_arrow_right {
  position: absolute;
  top: calc(50% - 32px);
  right: 15px;
  color: #ff7a00;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header_carousel_item p:nth-child(3) {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .header {
    min-height: 80vh;
  }
  .header_carousel_item {
    min-height: 80vh;
  }
}

@media (max-width: 800px) {
  .header {
    min-height: 80vh;
  }
  .header_carousel_item {
    padding: 50px 0 50px 50px;
  }
}

@media (max-width: 650px) {
  .header_carousel_item p:nth-child(3) {
    width: 85%;
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .header {
    min-height: 100vh;
  }
  .header_carousel_item {
    min-height: 100vh;
  }
  .header_carousel_item h2 {
    font-size: 2.25em;
  }
  .header_carousel_item p:nth-child(3) {
    font-size: 1em;
  }
  .header_carousel_item a {
    font-size: 1em;
  }
}

#item_one {
  left: 0;
}

#item_two,
#item_three {
  left: 100%;
}

.gallery {
  padding-left: 40px;
  padding-right: 40px;
}

.header2 {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 50px;
  color: #001724;
  text-transform: uppercase;
  padding-top: 50px;
}

#cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#card {
  width: 279px;
  height: 330px;
  cursor: pointer;
  z-index: 1;
}

#card #bloc_card {
  background-image: url(/assets/img/limitless_card.jpg);
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}

#card .card_genre {
  background-color: #15676d;
  color: white;
  font-weight: 400;
  line-height: 19px;
  padding: 4px 8px;
  margin-left: 28px;
  font-size: 16px;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#card span {
  color: #ff7a00;
  padding-left: 28px;
}

#card .card_title {
  font-family: 'Oswald', sans-serif;
  color: #ffebd1;
  font-size: 24px;
  margin-left: 28px;
  margin-top: 10px;
}

#card #bloc_info {
  display: none;
  background-color: #15676d;
  font-size: 16px;
  color: #ffebd1;
  font-weight: 400;
  line-height: 19px;
  padding: 10px 28px;
  height: 330px;
  -webkit-transform: translateY(-330px);
          transform: translateY(-330px);
}

#card #bloc_info p {
  padding: 20px 0px;
}

#card #bloc_info h6 {
  font-weight: 600;
}

#card #bloc_info li {
  list-style-type: disc;
  margin-top: 4px;
}

#card {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

#card:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #c4c4c4;
          box-shadow: 0px 0px 5px 5px #c4c4c4;
}

#card:hover #bloc_info {
  display: block;
  opacity: 0.9;
}

@media only screen and (max-width: 700px) {
  .gallery {
    width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .gallery h2 {
    width: 200px;
  }
  #card {
    width: 200px;
  }
}

/* nav bar */
.sidebar {
  height: 100%;
  width: 45px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #15676d;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin: 50px 0px;
}

.sidebar a:hover {
  color: #000000;
}

/* Trial */
.trial_container {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #ffebd1;
  padding: 80px 0px;
  margin: 0px 40px;
  margin-top: 50px;
  /* button trial */
}

.trial_container .trial_left {
  letter-spacing: 1px;
}

.trial_container .trial_left h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
}

.trial_container .trial_left p {
  font-size: 2rem;
  font-weight: 400;
}

.trial_container .trial_right {
  /*button contact*/
}

.trial_container .trial_right button {
  font-family: 'Roboto', sans-serif;
}

.trial_container .trial_right .start_button {
  font-size: 1.1rem;
  color: white;
  background: #d46f4d;
  border: none;
  padding: 13px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.trial_container .trial_right .login {
  color: blue;
}

.trial_container .trial_right .submit_start {
  background: #d46f4d;
  color: #ffebd1;
  border: none;
  border-radius: 5px;
  padding: 5px 40px;
  margin-left: 70px;
}

.trial_container .trial_right .start_button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.trial_container .trial_right .contact_button {
  font-size: 1.1rem;
  margin-left: 10px;
  color: #d46f4d;
  background: #ffebd1;
  border: #d46f4d 1px solid;
  padding: 11px 60px;
  border-radius: 5px;
  cursor: pointer;
}

.trial_container .trial_right .contact_button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

/* Footer */
.container_footer {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #15676d80;
  padding: 100px 0px;
  margin-top: 20px;
}

.container_footer .footer_left h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
}

.container_footer .footer_left p {
  padding: 10px 0px;
  font-weight: 400;
  margin-bottom: 0px;
}

.container_footer .footer_right p {
  margin-left: 30px;
  font-weight: 700;
}

.container_footer .footer_right ul {
  list-style-type: none;
}

.container_footer .footer_right li {
  font-weight: 400;
  padding: 8px 0px;
}

.container_footer .footer_right a:hover {
  color: #15676d;
}

.container_footer .footer_right a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 916px) {
  .trial_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .trial_container .trial_left p {
    font-size: 1.7rem;
  }
  .trial_container .trial_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trial_container .trial_right .contact_button {
    margin-top: 20px;
    margin-right: 5px;
    padding: 11px 62px;
  }
  .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container_footer .footer_left {
    margin-left: 25px;
  }
}
/*# sourceMappingURL=index.css.map */